@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles to reset some browser defaults */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a; /* Dark background similar to Crunchyroll */
}
